name: Create and run python wheel 

on: 
  push: 
    branches: [ main ]

jobs: 
  create-and-run-wheel: 
    uses: juanzq10dev/workflows/.github/workflows/build-python-wheel.yml@main
    with: 
        wheel-name: hello
